* {
	box-sizing: border-box;
}

/* Bootstrap Navbar */
.navbar{
	border-radius: 50px;
	margin: 10px;
}

body {
    background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #d2d1dd, #ebebba);
	background: linear-gradient(to right, #d9dad0, #ebe4e4);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}