@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
* {
	box-sizing: border-box;
}

body {	
	background-color: black;
	background: black;
	font-family: 'Lato';
	margin: 0;
}

/* background color for contact page */
#contactContainer{
	background: #f4f2fa;
}

.container .col-10 {
	border: #afafafa4;
	background-color: rgb(241, 239, 239);
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	margin-bottom: 2%;
}

div#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



img#Logo{
	width: 400px;
	padding: 30px;
}

/* Digimon CSS for Javascript */

#digimonList{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
	max-width: 1200px;
	padding: 0px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
}

.character {
	list-style-type: none;
	background-image: radial-gradient(rgb(255, 255, 255) 25%, #cde1fc 75%);
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.character>h2,
.character>p {
	margin-top: 20px;
	margin: 15px 0 7px;
	letter-spacing: 1px;
	font-size: 20px;
}

.character>img {
	margin-top: 20px;
	max-width: 90%;
	border-radius: 20px;
	border-style: solid;
	border-color: rgb(172, 172, 172);
}


/* Social Panel CSS */

.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
	border: 5px solid #0b0d11;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #0b0d11;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #0b0d11;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #1b212b;
	font-family: 'Muli';
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #b4b4b4;
	border-radius: 50%;
	color: #0b0d11;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #0b0d11;
	border: 1px solid black;
	box-shadow: 0 16px 22px -17px #312f46;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #1b212b;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #0b0d11;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}


/* Bootstrap Google Map CSS */

.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	border-color: #afafafa4;
}

.map-container iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

@media screen and (max-width: 480px) {
	.social-panel-container.visible {
		transform: translateX(0px);
	}
	.floating-btn {
		right: 10px;
	}
}